<br />

<div class="booyah-box col-12 col-md-8 offset-md-2">
  <div class="booyah-box-title">
    <h1>What I'm Learning</h1>
    <hr />
  </div>
  <br />
  
  <% current_user.enrolled_courses.each do |course| %>
    <div class="row">
      <div class="col-sm-12 col-md-4 image-column">
        <%= image_tag course.image, class: 'img-fluid' %>
      </div>
      <div class="col-sm-12 col-md-8 course-info">
        <h2 class="course-title">
          <%= link_to course.title, course_path(course) %>
        </h2>
        <br />
        <p class="course-description">
          <%= course.description %>
        </p>
        <br />
        <%= link_to "View Course", course_path(course), class: 'btn btn-primary' %>
      </div>
    </div>
    <br />
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>
  <br />
</div>
<br />

<div class="booyah-box col-8 offset-2">
  <div class="booyah-box-title">
    <h1>What I'm Teaching</h1>
    <hr />
  </div>
  <br />
    
  <% current_user.courses.each do |course| %>
    <div class="row">
      <div class="col-sm-12 col-md-4 image-column">
        <%= image_tag course.image, class: 'img-fluid' %>
      </div>
      <div class="col-sm-12 col-md-8 course-info">
        <h2 class="course-title">
          <%= link_to course.title, course_path(course) %>
        </h2>
        <br />
        <p class="course-description">
          <%= course.description %>
        </p>
        <br />
        <%= link_to "View Course", course_path(course), class: 'btn btn-primary' %>
      </div>
    </div>
    <br />
    <hr class="col-8 offset-2">
    <br class="clr" />
  <% end %>
  <br />
</div>
